<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <a type="button" href="./home"     class="btn btn-outline-primary">Home</a>
            <a type="button" href="./servicio" class="btn btn-outline-secondary">Servicio</a>
            <a type="button" href="./blog"     class="btn btn-outline-success">Blog</a>
            <a type="button" href="./contacto" class="btn btn-outline-danger">Contacto</a>
            <a type="button" href="./galeria"  class="btn btn-outline-warning">Galeria</a>
            <a type="button" href="./login" class="btn btn-outline-info">Login</a>
        </div>
    </div>
    
</nav>