<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs"); %>

    <body>
        <%- include ("./partials/menu.ejs",{"title":"Servicio"}); %>
        <H1><%= title %></H1>
    </body>

</html>